<!DOCTYPE html>
 </html>
    <html lang="en">
      <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Desechables y bolsas JEM</title>
      <link rel="stylesheet" href="../styles/styles.css">
      
      <body >        
        <div class="container">
           <div class="col-12 text-center"> 
            <h1>INGRESO DE NUEVA MARCA</h1>
          </div> 
          <hr>
          <div class="jem col-3">
              <form action="/procesar_registro_marca" method="POST">
                <div class="row">
                <div class="col-12 mb-3">
                  <label for="descripcion" class="form-label">Marca</label>
                  <input type="text" class="form-control" id="marca" name="marca">
                </div>
            </div>
                  <button type="submit" class="btn btn-primary">Guardar</button>
               
                  </form>
                </div>    
          </div>

          <a href="/">Principal</a>

             <script type="text/javascript" src="../javascript/bootstrap.min.js"></script>
             <script type="text/javascript" src="../javascript/bootstrap.bundle.min.js"></script>
             <script type="text/javascript" src="../javascript/index.js"></script> 
      </body>

    </html> 