<!DOCTYPE html>
 </html>
    <html lang="en">
      <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Desechables y bolsas JEM</title>
      <link rel="stylesheet" href="../styles/styles.css">
      
      <body >        
        <div class="container">
           <div class="col-12 text-center"> 
            <h1>INGRESO DE NUEVA ENTRADA DE INVENTARIO</h1>
          </div> 
          <hr>
          <div class="jem">
              <form action="/procesar_registro_entrada" method="POST">
                <div class="row">
                <div class="col-3 mb-3">
                  <label for="noFactura" class="form-label">No.Factura</label>
                  <input type="text" class="form-control" id="noFactura" name="noFactura">
                </div>
                <div class="col-3 mb-3">
                   <label for="fecha" class="form-label">Fecha</label>
                   <input type="text" class="form-control" id="fecha" name="fecha">
                </div>
                      <div class="col-3 mb-3">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad">
                      </div>
                      <div class="col-3 mb-3">
                        <label for="precioUnd" class="form-label">Precio unidad</label>
                        <input type="text" class="form-control" id="precioUnd" name="precioUnd">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-3 mb-3">
                        <label for="iva" class="form-label">IVA</label>
                        <input type="text" class="form-control" id="iva" name="iva">
                      </div>
                      <div class="col-3 mb-3">
                        <label for="valorTotal" class="form-label">Valor total</label>
                        <input type="text" class="form-control" id="valorTotal" name="valorTotal">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </form>
                </div>    
          </div>

          <a href="/">Principal</a>

             <script type="text/javascript" src="../javascript/bootstrap.min.js"></script>
             <script type="text/javascript" src="../javascript/bootstrap.bundle.min.js"></script>
             <script type="text/javascript" src="../javascript/index.js"></script> 
      </body>

    </html> 