@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";
header{
    background-color: rgba(25, 255, 64, 0.466);
}

.jem{
    background-color: rgba(155, 155, 199, 0.815);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}